body {
  background-image: url('/images/Graph-paper.svg');
}

.page-content {
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid #cceeee;
  background-color: #ffffff;
  line-height: 225%;
}

body article img:not(.no-border) {
  border-color: #99aaaa;
  border-width: 0.25em;
  margin: 15px;
}

.buy-me-button {
  margin-top: 20px;
  padding-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  background-color: #FFA500;
  color: #004000;
}

b {
  color: #00C000;
}
